EmailChat.json
{"id":"8NvwJKsPKd7ziOTG","meta":{"templateCredsSetupCompleted":true},"name":"EmailWhatsappChat","tags":[],"nodes":[{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":["failed"]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1008,160],"id":"d2b84a3c-99e5-4746-b322-94250ca8ce03","name":"WhatsApp Trigger","webhookId":"d2009572-9ca1-4fd2-9aa6-199b08a1e6d1","alwaysOutputData":true,"credentials":{"whatsAppTriggerApi":{"id":"WjCF33RHJxYuavby","name":"WhatsApp OAuth account"}}},{"parameters":{"promptType":"define","text":"=User: {{ $('WhatsApp Trigger').first().json.messages[0].text.body }}","options":{"systemMessage":"=You are a chatbot that retrieves and summarizes email-related information from a knowledge base.\n\n🔎 Always use the `EmailKnowledge` tool:\n- Use it to search the Vector Store for matches related to the user’s query.\n- Do not respond with an answer until a search has been performed.\n\n🕒 Include current date and time:\n- Format the current date and time in **IST (Indian Standard Time)**.\n- Display it at the beginning of your response to provide context.\n\n📝 Summarization Guidelines:\n- Summarize the retrieved results clearly and concisely.\n- Ensure high relevance to the user’s query.\n- Use plain language — easy for any user to understand.\n\n💬 Output Format (WhatsApp-Optimized):\n- Short sentences.\n- Use emojis to enhance readability:\n  - 📧 for email\n  - 🕒 for time\n  - Others where contextually helpful\n- No complex formatting (avoid tables, Markdown, or long blocks).\n- The tone should be:\n  - Engaging\n  - Professional\n  - Easy to read on a mobile device\n\n🚫 Fallback Behavior (if no results are found):\n- Politely inform the user that no relevant email information was found.\n- Encourage the user to rephrase or provide more details.\n- Include the current IST time as usual.\n\n📄 Email Format Template:\nUse the following structure to understand how emails are formatted:\n{{ $('Set Variables').first().json.format }}\n\n📚 Category Reference:\nThese are all the possible categories and their descriptions:\n{{ $json.data }}\n\n❗️Important:\n- Do not fabricate answers.\n- Only answer after retrieving and summarizing real data from the knowledge base.\n- Always include current IST time in your response."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[224,-48],"id":"c1358c51-7c4a-4ac9-9f9d-643b16dce9fe","name":"AI Agent"},{"parameters":{"model":"openai.gpt-oss-120b-1:0","options":{"maxTokensToSample":4096,"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatAwsBedrock","typeVersion":1.1,"position":[-80,400],"id":"db176620-8939-4ab2-8a22-c766d74564f9","name":"AWS Bedrock Chat Model","credentials":{"aws":{"id":"ZW7UC6ymNZsba01b","name":"AWS-Bedrock-SA"}}},{"parameters":{"model":"amazon.titan-embed-text-v2:0"},"type":"@n8n/n8n-nodes-langchain.embeddingsAwsBedrock","typeVersion":1,"position":[352,560],"id":"0a4cea80-9a2f-4b42-86f4-6d9bcd9d62f1","name":"Embeddings AWS Bedrock","credentials":{"aws":{"id":"ZW7UC6ymNZsba01b","name":"AWS-Bedrock-SA"}}},{"parameters":{"operation":"send","phoneNumberId":"794300897105461","recipientPhoneNumber":"={{ $('WhatsApp Trigger').first().json.messages[0].from }}","textBody":"={{ $json.output[1].text }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[736,176],"id":"58d7e5a3-bc06-44f4-88fb-0d00708bb3e6","name":"Send Response","webhookId":"bf389e25-2482-4cf4-958c-325a4af13263","credentials":{"whatsAppApi":{"id":"6lPkgH37OZ47CjHi","name":"MainWhatsapp"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f884d684-f168-41f7-be6a-654837a9fbb9","leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,160],"id":"178bcd63-67db-4d01-9fa5-5c0c07cbad17","name":"If isText","alwaysOutputData":false},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"USE THIS TOOL. This is your knowledge base. Serarch for the mails that would match from this tool","topK":20,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[288,400],"id":"d7df8a9a-d607-4112-9ec5-132e543dc088","name":"EmailKnowledge","credentials":{"postgres":{"id":"J2r6m3Wmv7dpDhoR","name":"InternalPostgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"ee54b04f-62fa-4e6b-88b5-3e0c24e1f064","name":"output","value":"Please send a text message","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,176],"id":"c9461cd9-8e52-4f3b-b3ad-f2796bb8afb5","name":"\"Only Text Allowed\" Response"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Set SheetsUrl and AgentContinue').item.json.sheetUrl }}","mode":"url"},"sheetName":{"__rl":true,"value":"={{ $('Set SheetsUrl and AgentContinue').item.json.sheetUrl }}","mode":"url"},"options":{}},"id":"5a64e269-3863-4746-b2d7-f9a5c21aad45","name":"Get Labels","type":"n8n-nodes-base.googleSheets","position":[-384,-432],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"q59bri8ZjCTVKOkd","name":"Sheets - yoboy907"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b698076-6099-419f-b0f3-77a67454416f","name":"sessionId","value":"={{ $now.format('dd-MM-yyyy') }}","type":"string"},{"id":"781a5188-ee8e-4a5b-9cdc-c0f71dfb10ff","name":"format","value":"Date: <todays date + time>\nTo: yoboy907@gmail.com\nFrom: somebody@somedomain.something\nSubject: Some subject\nBody: \n<email body>","type":"string"},{"id":"0ad02498-bdbc-43d6-96dd-36fac1764d9d","name":"sheetUrl","value":"https://docs.google.com/spreadsheets/d/1hwcC4-WfVszkYczDCIh_z1JKFqwhU53zCQbB217-7N4/edit?gid=0#gid=0","type":"string"},{"id":"e11c1b17-d35c-45a8-a3d2-408a55ee813f","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,-48],"id":"c3edf201-243d-45f5-ab18-89384f89b648","name":"Set Variables"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1008,-48],"id":"e805947c-3854-4c2d-bedb-8c1766e1d9e8","name":"Manual Tester"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1024,-432],"id":"004599c9-ee95-4095-899a-d0c052d88328","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b0df8a9a-4ff1-4c49-b19c-22235c0e813a","name":"sheetUrl","value":"https://docs.google.com/spreadsheets/d/1hwcC4-WfVszkYczDCIh_z1JKFqwhU53zCQbB217-7N4/edit?gid=0#gid=0","type":"string"},{"id":"ec8000ee-1860-4a9f-9245-839c21e46b14","name":"continue_to_agent","value":"false","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,-432],"id":"014456b0-9cb8-4d56-b3b0-c6adeac4b15d","name":"Set SheetsUrl and AgentContinue"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,-432],"id":"04d82c30-f7f1-492b-b2df-e80f39d70742","name":"Loop Over Items"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"email_labels","mode":"list","cachedResultName":"email_labels"},"columns":{"mappingMode":"defineBelow","value":{"Index":"={{ $('Get Labels').item.json.row_number }}","Name":"={{ $('Get Labels').item.json.Name }}","Description":"={{ $('Get Labels').item.json.Definition }}"},"matchingColumns":[],"schema":[{"id":"Index","displayName":"Index","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,-416],"id":"d7ac6635-8f5f-47c9-b278-d51496788594","name":"Insert Latest Labels","credentials":{"postgres":{"id":"J2r6m3Wmv7dpDhoR","name":"InternalPostgres"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"email_labels","mode":"list","cachedResultName":"email_labels"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-592,-432],"id":"b139a2c6-7763-4dc0-a03e-0f3c203897e5","name":"TruncateTable","credentials":{"postgres":{"id":"J2r6m3Wmv7dpDhoR","name":"InternalPostgres"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"email_labels","mode":"list","cachedResultName":"email_labels"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-384,-48],"id":"5ee360fd-91cb-4528-9f94-545b3ae1ebd0","name":"Get Latest Labels","credentials":{"postgres":{"id":"J2r6m3Wmv7dpDhoR","name":"InternalPostgres"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst allItems = $('Get Latest Labels').all();\n\nreturn [{\n  json: {\n    data: allItems.map(item => item.json.Name)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-48],"id":"218ac97c-32fc-4760-962c-602a18dc8f4b","name":"CombineLabels"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Variables').first().json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[112,400],"id":"40f91418-3a51-47f1-8e60-46a4ad253e94","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"J2r6m3Wmv7dpDhoR","name":"InternalPostgres"}},"disabled":true}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"9745b0ef-ab80-4c1b-b7f5-1feade655dde","connections":{"WhatsApp Trigger":{"main":[[{"node":"If isText","type":"main","index":0}]]},"AWS Bedrock Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings AWS Bedrock":{"ai_embedding":[[{"node":"EmailKnowledge","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"If isText":{"main":[[{"node":"Set Variables","type":"main","index":0}],[{"node":"\"Only Text Allowed\" Response","type":"main","index":0}]]},"Send Response":{"main":[[]]},"EmailKnowledge":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"\"Only Text Allowed\" Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Get Labels":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Get Latest Labels","type":"main","index":0}]]},"Manual Tester":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set SheetsUrl and AgentContinue","type":"main","index":0}]]},"Set SheetsUrl and AgentContinue":{"main":[[{"node":"TruncateTable","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Insert Latest Labels","type":"main","index":0}]]},"Insert Latest Labels":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"TruncateTable":{"main":[[{"node":"Get Labels","type":"main","index":0}]]},"Get Latest Labels":{"main":[[{"node":"CombineLabels","type":"main","index":0}]]},"CombineLabels":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[18]}},"createdAt":"2025-10-07T17:28:18.056Z","updatedAt":"2025-10-25T17:47:35.722Z"}
